.App {
  text-align: center;
  color: #344040;
}

nav h1 {
  margin: 0;
  padding: 10px;
  background: linear-gradient(#162f45, #33767373);
  color: #e5f2f2;
  letter-spacing: -3px;
  word-spacing: 5px;
  font-size: 34px;
}

/*book related CSS*/
.books-template {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*space between books*/
.books-template li {
  padding: 10px;
}

.book img {
  width: 128;
  height: 193;
}

.book {
  width: 160px;
  background-color: #8bd1d91c;
  box-shadow: 11px 15px 14px lightgrey;
  padding: 10px;
  height: auto;
  position: relative; /*to switcher*/
}
.book:hover {
  opacity: 0.85;
}

.book-title {
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
}

.book-author {
  font-size: 14px;
  color: #418692;
  text-align: left;
}

/*Shelf related CSS*/
.shelf-title {
  text-align: left;
  padding: 10px;
  background: linear-gradient(179deg, #162f45, #33767373);
  /*color: #cce1e6;*/
  color: white;
  letter-spacing: -2px;
}

/*Book switcher to book relative*/
.switcher {
  position: absolute;
  right: -14px;
  top: -15px;
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 0;
  /*border-radius: 50%;*/
  /*background-image: url('./icons/switcher.svg');*/
  background: #1f3b53;
  background-repeat: no-repeat;
  background-size: 15px;
  box-shadow: 3px 4px 16px rgba(0,0,0,0.56), 2px 3px 6px rgba(0,0,0,0.23);
}

/*fitting into switcher circle*/
.switcher select {
  width: 100%;
  height: 100%;
  opacity: 0; /* not to be visible */
  cursor: pointer;
}

/*Search page*/
.search {
  /*margin: 10px;*/
}

.search input {
  width: 99%;
  height: 40px;
  font-size: 18px;
  color: #999;
  padding-left: 5px;
  letter-spacing: 2.5px;
}
