.App {
  text-align: center;
  color: #344040;
}

.books-template {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*space between books*/
.books-template li {
  padding: 10px;
}

.book {
  width: 140px;
  background-color: #d2d2b647;
  box-shadow: 11px 15px 14px lightgrey;
  padding: 10px;
}

.book-title {
  margin-top: 10px;
  font-size: 14px;
}

.book-author {
  font-size: 14px;
  color: #418692;
}

.shelf-title {
  text-align: left;
  padding: 10px;
  background: linear-gradient(360deg, black, #33767373);
  color: #ffcbdd;
}
